<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Account</title>
    <link rel="stylesheet" href="/public/add.css">
    <style>
        input{
            width: 20em;
            height: 2em;
        }
        textarea{
            width: 20em;
            height: 5em;
        }
        button{
            font-size: 20px;
            background-image: linear-gradient(to right, pink, brown);
        }
    </style>
</head>
<body style="text-align: center; margin-top: 15%;">
    <h1>Add your account</h1>
    <form action="/datas" method="post">
        <input type="text" placeholder="Enter your id" name="id"/><br><br>
        <textarea  placeholder="Enter your caption here" name="caption"></textarea><br><br>
        <input type="file" name="image"/><br><br>
        <button>submit</button>
    </form>
</body>
</html>